<p>
  <b>Commenter:</b>
  <%= comment.commenter %>
  <b>&nbsp; on &nbsp;</b>
  <%= time_ago_in_words(comment.created_at) %>
</p>
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
              :confirm => 'Are you sure ?',
              :method  => :delete %>
</p>