<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
  </tr>
  <% @list_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.category %></td>
        <% if session[:current_user_category] == "admin" %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>